<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS, UTC} [%-5level] [%thread] %logger - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.zalando.logbook" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


<!--    <logger name="ru.spbu.detector.detection" level="debug" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>